<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DPY - Digital Presentationsyta</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <a href="../index.html" id="logo">
        <h1>Namn - Digital Presentationsyta - Personal Portfolio</h1>
        <h2>Text i rad format</h2>
      </a>
    </header>
    <nav>
        <ul>
          <li><a href="../index.html" class="selected">Resurs</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="Q&A.html">Q&A</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    <div id="wrapper">
      <section>
      <h3>Blog</h3>
      </section>
    </div>
    <footer>
        Länkar till din LinkedIn eller twitter
    </footer>
  </body>
</html>
